.DS_Store
node_modules




# local env files
.env.local
.env.development
.env.*.local

.vscode.settings.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
